<h1 class="mb-5">Forgot Password? </h1>

<%= @notice %>

<%= form_with url: forgot_password_path, class: "form-group w-50" do |form| %>
    <div class="mb-3">
        <%= form.label "Email" %>
        <%= form.text_field :email, class: "form-control" %>
    </div>

    <%= form.submit "Send Reset Password Mail", class: "btn btn-primary" %>
<% end %>