<h1>Schedule Tweet</h1>
<%= form_for @tweet, url: tweets_path do |form| %>
  <div class="w-50 py-3">
    <% @tweet.errors.full_messages.each do |msg| %>
      <p class="alert alert-danger p-2">
        <%= msg %>
      </p>
    <% end %>
    <div class="row">
      <div class="col-6 my-3">
        <%= form.label :twitter_account_id, class: "form-label" %>
        <%= form.collection_select :twitter_account_id,
                               Current.user.twitter_accounts,
                               :id,
                               :username,
                               {},
                               { class: "form-control" } %>
        <%= link_to "Connect your twitter account", "/auth/twitter" %>
      </div>
      <div class="col-6 my-3">
        <%= form.label "Publish Date", class: "form-label" %>
        <%= form.datetime_field :publish_at, class: "form-control" %>
      </div>
    </div>
    <div class="my-3">
      <%= form.label "Tweet", class: "form-label" %>
      <%= form.text_area :body, class: "form-control" %>
    </div>
  </div>
  <div>
    <%= form.submit "Create", class: "btn btn-primary w-25" %>
    <%= link_to "Cancel", tweets_path, class: "btn btn-secondary w-25" %>
  </div>
<% end %>
