<h1>Signup</h1>

<%= form_with model: @user, url: signup_path, local: true do |form| %>
    
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |msg| %>
                <div><%= msg %></div>
            <% end %>
        </div>
    <% end %>
    <div class="form-group w-50">
    <%= form.label "Email" %>
    <%= form.text_field :email, class: "form-control mb-3" %>

    <%= form.label "Password" %>
    <%= form.password_field :password, class: "form-control mb-3" %>

    <%= form.label "Password Confirmation" %>
    <%= form.password_field :password_confirmation, class: "form-control mb-3" %>

    <%= form.submit "Sign Up", class: "btn btn-success" %>
    </div>
<% end %>